<!DOCTYPE html>
<html>
<head>
  <title>Restofy</title>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= csrf_meta_tags %>
</head>
	<body>

	
	<% if current_user %> 
		<div id = 'map'>
		<%= render 'restaurants/map' %>
		</div>
	<% else %>

	<% end %>

	<div id = "side_bar">
	<%= yield %>
	</div>


	</body>
</html>
