<!DOCTYPE html>
<html>
<head>
  <title>Restofy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

  
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li>
					<span class='home-page'>
						<%= link_to "Home", root_path %>
					</span>
				</li>
				<li>
              		<span class='user_login'>
                	<% if current_user %>
                  		<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
                	<% else %>
                		<a href='/users/sign_in'>Sign In</a>
                	<% end %>
              		</span>
            	</li>
            	<li>
            		<% if current_user %>
            			<%= link_to "My Profile", profiles_path %>
            		<% else %>
            			No Profile Available
            		<% end %>
            	</li>
            </ul>
        </nav>
	</header>

	<%= yield %>

	<script> 
		
		$("#search").click(function(){
  			var latitude = $("#latitude").val();
  			var longitude = $("#longitude").val();
 			var zoom = $("#zoom").val();

//This is incorrect, I'm just pseudo-coding
//  			var response = Api.request
//  			var latitude = response["latitude"]

			var marker = L.marker([latitude, longitude], zoom).addTo(map);
			var setView = L.setView([latitude, longitude], zoom).addTo(map);

			
			
			// var marker = L.marker([37, -77], 5).addTo(map);
			var markerHtml = 'This place is weird';
				marker.bindPopup(markerHtml);
			var features = [];
		});

		L.mapbox.accessToken = 'pk.eyJ1IjoiaGF3YWlpemVybyIsImEiOiJlMmRlM2YwM2VlZWExODE0MGJhNzY2OGZlYzNlMDY2NiJ9.bb6hiEKb0vpXFkNRB4y78w';
		var map = L.mapbox.map('map', 'hawaiizero.75dae6ca')
				.setView([40, -77], 20)
				.addControl(L.mapbox.geocoderControl('mapbox.places'));

	</script>
</body>
</html>
