<p>
<%= form_for @profile do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :photo_url %><br>
  <%= f.text_field :photo_url %>
  <br><br>
  <%= f.label :hometown %><br>
  <%= f.text_field :hometown %>
  <br><br>
  <%= f.label :interests %><br>
  <%= f.text_field :interests %>
  <br><br>
  <%= f.label :favorites %><br>
  <%= f.text_field :favorites %>
  <br><br>
  <%= f.label :about_me %><br>
  <%= f.text_field :about_me %>
  <br><br>
  
  <%= f.submit "Save" %>
<% end %>
</p>