<h2>Edit Your Profile</h2>

<p>
<%= form_for @profile, url: {action: "update"} do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  <br><br>
  <%= f.label :photo_url %><br>
  <%= f.text_field :photo_url %>
  <br><br>
  <%= f.label :hometown %><br>
  <%= f.text_field :hometown %>
  <br><br>
  <%= f.label :hobby %><br>
  <%= f.text_field :hobby %>
  <br><br>
  <%= f.label :about_me %><br>
  <%= f.text_field :about_me %>
  <br><br>
  
  <%= f.submit "Update", :class => 'profile-form' %>
<% end %>
</p>