<div class="application-sidebar">
	
	<div class="nav">
		<ul class="nav-ul">
			<li>
				<span class='restofy-nav'>
					<%= link_to "Restofy", root_path %>
				</span>
			</li>
			<li>
				<span class='restaurants-nav'>
					<%= link_to "Browse Restaurants", restaurants_path %>
				</span>
			</li>
			<li>
		        <span class='user_login'>
		            <% if current_user %>
		                <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
		            <% else %>
		               	<a href='/users/sign_in'>Sign In</a>
		            <% end %>
		        </span>
	        </li>
	        <li>
	           	<% if current_user %>
	            	<%= link_to "My Profile", profiles_path %>
	            <% else %>
	            	No Profile Available
	           	<% end %>
	        </li>
	    </ul>
	</div>

	<!-- Index of All Restaurants inside the SideBar -->
	<div class="restaurant-index">
		<% @restaurants.each do |restaurant| %>
			<div class="ul-content">
			<ul class="restaurant-ul">
				<li class = "restaurant-name-li"><%= link_to restaurant.name, restaurant %></li>
				<li class= "restaurant-detail-li"><%= link_to restaurant.address, restaurant %></li>
			</ul>
			</div>
		<% end %>
	</div>

</div>